@model IEnumerable<User>

@{
    ViewData["Title"] = "User Panel page";
}

<div class="text-center">
    <h1 class="display-4">User manager</h1>
</div>

<div class="toolbar">
    <button id="blockBtn" type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2" />
        </svg> Block
    </button>
    <button id="unblockBtn" type="button" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
            <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2" />
        </svg>
    </button>
    <button id="deleteBtn" type="button" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
        </svg>
    </button>
    @* TODO: add alert windows which asks user if he is sure to delete X num of user accounts *@
</div>

<table class="table table-hover">
    <caption>List of existing users</caption>
    <thead>
        <tr>
            <th scope="col"><input type="checkbox" id="selectAllCheckbox"></th>
            <th scope="col">GUID</th>
            <th scope="col">Email</th>
            <th scope="col">Registration date</th>
            <th scope="col">Last login date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr class="@(user.Status == UserStatus.Blocked ?"opacity-50" : "")">
                <th scope="row"><input type="checkbox" class="checkbox" value="@user.Id"></th>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.RegistrationDate</td>
                <td>@(user.LastLoginDate == null ? "null" : user.LastLoginDate)</td>
            </tr>
        }
    </tbody>
</table>

